<footer class="footer">
	<div class="container footer__container flex">
		{{ partial "footer_links.html" . }}
		<div class="footer__copyright">
			&copy; {{ now.Format "2006" }} {{  .Site.Params.copyright | default .Site.Title  }}.
			<span class="footer__copyright-credits">{{ T "footer_credits" | safeHTML }}</span>
		</div>
	</div>
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />
	<script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script>
	<script>
	window.cookieconsent.initialise({
	"palette": {
		"popup": {
		"background": "#2D2D39"
		},
		"button": {
		"background": "#14a7d0"
		}
	},
	"theme": "edgeless",
	"position": "bottom-right",
	"content": {
		"message": "This website uses cookies for Google Analytics so that I know how many people are reading the blog and which blogposts are the most popular. The website does not collect any personal data.",
	"href": "https://www.cookiesandyou.com/"
	}
	});
	</script>
</footer>